.home {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-game-button {
  background-color: #168f8d;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.games-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
}

.game-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.spacer {
  flex-grow: 0.6;
}

.button-group {
  margin-top: 10px;
}

.details-button, .delete-button {
  padding: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .games-list {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .game-card {
    min-width: 100%;
  }
}
